* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo de la página */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pantalla de carga */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 9999;
}

/* Logo centrado y grande */
.logo img {
    width: 500px;
    height: auto;
    margin-top: 20px;
}

/* GIF de carga */
.loading-gif img {
    width: 25vh; /* Ajusta el tamaño del GIF */
    height: auto;
    margin-top: 20px;
}

/* Texto de carga */
.loading-text {
    font-size: 24px;
    color: #555;
    margin-top: 20px;
}

/* Contenido de la página */
.content {
    display: none; /* Contenido oculto hasta que la carga termine */
}