.hera,
.ares,
.poseidon,
.gemini,
.sirenas,
.hades,
.hercules,
.atenea,
.afrodita,
.zeus,
.apolo,
.hefesto,
.artemisa,
.minotauro,
.griffo {
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.hera {
  background-image: url("../img/diosesVerdaderos/hera.png");
}

.ares {
  background-image: url("../img/diosesVerdaderos/ares.png");
}

.poseidon {
  background-image: url("../img/diosesVerdaderos/poseidon.png");
}

.zeus-gif {
  background-image: url("../gif/zeusJuego.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.correcto {
  border: 3px solid green;
  background-color: rgba(0, 255, 0, 0.2); /* Fondo verde translúcido */
  border-radius: 50%;
}

#drag-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  grid-template-rows: repeat(2, auto); /* 2 filas */
  gap: 1vh; /* Espaciado entre elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
}

.draggable {
  width: 15vh; /* Tamaño de los elementos */
  height: 15vh;
  text-align: center;
  cursor: grab;
  user-select: none;
}

#dropzone {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
  gap: 10px; /* Espaciado entre celdas */
  justify-content: center;
}

.drop-cell {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  border: 1px dashed solid #aaa; /* Bordes para identificar las celdas */
  align-items: center;
  transition: 0.3s ease;
  border-radius: 50%;
}

.drop-cell:hover {
  background-color: rgba(0, 255, 0, 0.2); /* Cambiar fondo al pasar el mouse */
}

.img-dios {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* GIF de Zeus */
.zeus-gif {
  background-image: url("../gif/zeusJuego.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 20vh; /* Ajusta la altura a un valor específico relativo al viewport */
  max-height: 200px;
  border-radius: 10px;
}
/* Responsividad */
@media (max-width: 768px) {
  .zeus-gif {
    height: 50vh; /* Reduce la altura en pantallas más pequeñas */
  }

  .btn {
    width: 70%; /* Botones ocupan 70% del ancho del contenedor */
  }

  .text-center {
    margin-bottom: 10px; /* Espaciado entre elementos */
  }
}

@media (max-width: 576px) {
  .zeus-gif {
    height: 10vh; /* Reduce más la altura del GIF */
  }

  .btn {
    width: 90%; /* Botones ocupan casi todo el ancho en móviles */
  }
}
/* tamaño de los elemento que hay que arrastrar */
.img-dios {
  width: 12vh;
  height: auto;
}
.nombre-dios {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000;
}

.custom-swal-title {
  color: #ffffff; /* Color blanco puro */
  font-size: 24px; /* Tamaño más grande */
  text-shadow: 0 0 5px #ffffff; /* Sombra blanca brillante */
}

.custom-swal-text {
  color: #000000; /* Color blanco puro */
  font-size: 24px; /* Tamaño más grande */
  text-shadow: 0 0 2px #ffffff; /* Sombra blanca brillante */
}
