.hera {
  background-image: url("../img/diosesVerdaderos/hera.png");
  background-size: 15vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.ares {
  background-image: url("../img/diosesVerdaderos/ares.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.poseidon {
  background-image: url("../img/diosesVerdaderos/poseidon.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.gemini {
  background-image: url("../img/semiDioses/gemini.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.sirenas {
  background-image: url("../img/criaturasMitologicas/sirenas.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.hades {
  background-image: url("../img/diosesVerdaderos/hades.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.hercules {
  background-image: url("../img/semiDioses/hercules.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.atenea {
  background-image: url("../img/diosesVerdaderos/atenea.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.afrodita {
  background-image: url("../img/diosesVerdaderos/afrodita.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.zeus {
  background-image: url("../img/diosesVerdaderos/zeus.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.apolo {
  background-image: url("../img/diosesVerdaderos/apolo.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.hefesto {
  background-image: url("../img/diosesVerdaderos/Hefesto.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.artemisa {
  background-image: url("../img/diosesVerdaderos/artemisa.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.minotauro {
  background-image: url("../img/criaturasMitologicas/minotauro.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.griffo {
  background-image: url("../img/criaturasMitologicas/griffo.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.correcto {
  border: 3px solid green;
  background-color: rgba(0, 255, 0, 0.2); /* Fondo verde translúcido */
  border-radius: 50%;
}

#drag-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  grid-template-rows: repeat(2, auto); /* 2 filas */
  gap: 1vh; /* Espaciado entre elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
}
.draggable {
  width: 15vh; /* Tamaño de los elementos */
  height:15vh;
  text-align: center;
  cursor: grab;
  user-select: none;
}
#dropzone {
  position: relative;
  width: 100%;
  min-height: 210px;
}
.img-dios {
  border: none; /* Sin borde */
  background-color: transparent; /* Fondo transparente */
  padding: 0; /* Sin relleno */
  box-shadow: none; /* Sin sombra */
  width: 100%; /* Ajustar ancho */
  height: auto; /* Mantener proporción */
}
