* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden; /* Esto desactiva el scroll */
}

.pantano {
  background-image: url("../img/pantano.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.pregunta-texto {
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  color: #d4af37;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding-top: 25px; /* Ajusta el valor según necesites para moverlo hacia abajo */
  /* O usa padding-bottom para moverlo hacia arriba */
}

.container {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat {
  height: auto;
  margin: auto;
  position: relative;
}

.messages {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: 100px; /* Ajusta esta altura para tu diseño */
  overflow-y: auto; /* Permite scroll si hay mensajes adicionales */
  background-color: #f1f1f1;
  padding: 10px;
}

.send-message input {
  flex-grow: 1;
}

#message {
  border-radius: 20px;
}

#send {
  border-radius: 50px;
}

.pergaminove {
  background-image: url("../img/Perga.png");
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 90vh;
  min-height: 40vh;
}

.listo {
  background-image: url("../img/listo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 128px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.listo:hover {
  opacity: 0.8;
}
.terminaste {
  background-image: url("../img/Terminaste.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  min-height: 90px;
  position: relative;
}

.woodquest {
  background-image: url("../img/Maderamorada.png");
  background-size: cover; /* O usa 'contain' si deseas que se mantenga la proporción sin recorte */
  background-repeat: no-repeat;
  background-position: center;
  width: 80vh;
  height: 20vh; /* Ajustamos el tamaño de la altura para que sea grande */
  margin: auto; /* Centra el elemento si es necesario */
}

.tablajuego {
  background-image: url("../img/tablon.png");
  background-repeat: no-repeat;
  background-position: center;
  max-height: 200px;
  min-height: 195px;
}

.basi {
  background-image: url("../img/basilis.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 102px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .chat {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  #dropzone {
    min-height: 150px;
  }
  .tablajuego,
  .woodquest,
  .pergaminove {
    background-size: contain;
    min-height: 150px;
  }
  .chat {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .messages {
    height: 100px;
  }
  .chat {
    max-width: 100%;
  }
}

.modal-lg {
  max-width: 60%;
}
.highlight {
  border: 2px dashed #3498db; /* Color y estilo del borde de la zona activa */
  background-color: rgba(
    52,
    152,
    219,
    0.1
  ); /* Color de fondo de la zona activa */
}

.invisible {
  opacity: 0.5; /* Cambia la opacidad cuando el elemento está siendo arrastrado */
}
/* Estilo para el fondo del modal */

.custom-lose-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Contenido del modal */
.custom-lose-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  color: #ff0000; /* Texto rojo */
  border: 4px solid #ff4500; /* Borde rojo fuego */
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  width: 40%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(255, 69, 0, 0.8); /* Brillo rojo */
}

/* Personalización del modal de ganar */
.custom-win-modal .modal-content {
  color: #00ff00; /* Texto verde */
  border-color: #32cd32; /* Borde verde brillante */
  box-shadow: 0 0 15px rgba(50, 205, 50, 0.8); /* Brillo verde */
}


