* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.pantano {
  background-image: url("../img/pantano.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.pregunta-texto {
  font-family: "Cinzel", serif; /* Tipografía estilo griego */
  font-size: 1.8rem;
  color: #d4af37; /* Color dorado */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.chat {
  max-width: 300px;
  height: auto;
  margin: auto;
}

.messages {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: 150px;
  overflow: hidden;
  background-color: #8a7d7d6b;
  padding: 10px;
}

.send-message input {
  flex-grow: 1;
}

#message {
  border-radius: 20px;
}

#send {
  border-radius: 50px;
}

#dropzone {
  position: relative;
  width: 100%;
  min-height: 210px;
}

.pergaminove {
  background-image: url("../img/Perga.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 195px;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terminaste {
  background-image: url("../img/Terminaste.png");
  background-size: 45vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 300px;
}

.listo {
  background-image: url("../img/listo.png");
  background-size: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 80px;
  margin-top: -95px;
  cursor: pointer; /* Cambia el cursor a un puntero */
  transition: opacity 0.3s; /* Suaviza la transición de opacidad */
}

.listo:hover {
  opacity: 0.8; /* Reduce la opacidad al pasar el mouse */
}

.woodquest {
  background-image: url("../img/Maderamorada.png");
  background-size: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 195px;
}

.tablajuego {
  background-image: url("../img/tablon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 300px;
}

.basi {
  background-image: url("../img/basilis.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 80px;
}

/* Media query para pantallas medianas */
@media (max-width: 1024px) {
  .chat {
    max-width: 250px;
  }

  .terminaste {
    width: 300px;
    height: 250px;
    background-size: 40vh;
  }

  .listo {
    width: 150px;
    height: 60px;
    margin-top: -80px;
  }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  #dropzone {
    min-height: 150px;
  }

  .tablajuego,
  .woodquest,
  .pergaminove {
    background-size: contain;
    min-height: 150px;
  }

  .chat {
    max-width: 100%;
  }

  .terminaste {
    width: 250px;
    height: 200px;
    background-size: 35vh;
  }

  .listo {
    width: 130px;
    height: 50px;
    margin-top: -70px;
  }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 576px) {
  .messages {
    height: 100px;
  }

  .draggable {
    width: 30px;
    height: 30px;
  }

  .chat {
    max-width: 100%;
  }

  .terminaste {
    width: 200px;
    height: 150px;
    background-size: 30vh;
  }

  .listo {
    width: 100px;
    height: 40px;
    margin-top: -60px;
  }
}
