* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pantano {
  background-image: url("../img/pantano.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "muro pergamino"
    "espadas pergamino"
    "arboles titulo";
  width: 95vw;
  height: 90vh;
  gap: 10px;
  border: 2px solid black;
  position: relative;
}

.item1, .item2, .item3, .item4, .item5 {
  position: relative;
  overflow: hidden; /* Para mantener las imágenes de fondo en su lugar */
}

.item1 {
  grid-area: muro;
  background-color: lightblue;
}

.item2 {
  grid-area: espadas;
  background-color: lightgreen;
}

.item3 {
  grid-area: arboles;
  background-color: lightcoral;
}

.item4 {
  grid-area: pergamino;
  background-color: rgb(175, 34, 34);
}

.item5 {
  grid-area: titulo;
  background-color: rgb(150, 75, 0);
}

.muro, .arboles, .espadas, .pergaminove, .titulo2, .afrodita, .hera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.titulo2{
  background-size: 100vh;
}

.muro {
  background-image: url('../img/basi.png');
}
.hera{
  background-image: url('../img/hera.png');
}
.afrodita{
  background-image: url('../img/afrodita.png');
}
.arboles {
  background-image: url('../img/Mader.png');
}

.pergaminove {
  background-image: url('../img/Perga.png');
}

.titulo2 {
  background-image: url('../img/Maderamorada.png');
}

.espadas {
  background-image: url('../img/Shield.png');
}

/* Contenedor de elementos arrastrables */
#drag-container {
  position: absolute;
  margin: 30px;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.draggable {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  cursor: grab;
  z-index: 2; /* Se asegura que esté por encima de las imágenes de fondo */
}

/* Zona de caída (Dropzone) */
#dropzone {
  position: relative;
  z-index: 1; /* Fondo pergamino */
}

.draggable.over {
  background-color: rgba(0, 255, 0, 0.5);
}

/* Media Queries */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "muro"
      "espadas"
      "arboles"
      "pergamino"
      "titulo";
    height: 100vh;
    width: 100vw;
  }
}