.pergaminoCu-Container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 100px; /* Espacio para el título inferior */
  }

  .rueda {
    max-height: 350px;
    overflow-y: auto;
    margin-top: 10px;
    width: 100%; /* Ajusta el ancho completo del contenedor */
  }

  .user-profile {
    background-image: url('../img/marmolNegro.jpg');
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    width: 350px;
  }

  .user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .username {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Jeju Hallasan";
    margin: 10px 0;
  }

  .titulo-ultimo {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    max-width: 100%; /* Limita el ancho a un 80% del contenedor */
    margin: 0 auto; /* Centra el texto */
    text-align: center;
    font-family: "Jeju Hallasan";
    padding: 10px;
    overflow-wrap: break-word;
    color: white;
  }

  .primer-palabra {
    color: blue; /* Color para la primera palabra */
  }
  
  .ultima-letra {
    color: red; /* Color para la última letra */
  }